In [1]:
import pandas as pd
import numpy as np

In [51]:
#file path
df_path = r'C:\Users\OzturkNa\Downloads\Py\HW2_data.xlsx'

In [4]:
#read both sheets of the excel file
df1= pd.DataFrame(pd.read_excel(df_path, sheet_name= "Sheet1"))
df1

,docs,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
0,doc1,1,0,1,0,1,1,0,0,0,1
1,doc2,0,1,1,1,0,0,0,1,0,0
2,doc3,0,0,0,1,1,1,0,0,0,0
3,doc4,0,0,1,1,0,0,1,1,0,0
4,doc5,0,1,0,0,0,0,0,0,1,1
5,doc6,1,0,0,1,0,0,0,0,0,0
6,doc7,0,0,0,0,0,0,0,1,0,1
7,doc8,0,0,1,1,0,0,1,0,0,1
8,doc9,0,0,0,0,0,1,0,0,1,0
9,doc10,0,1,0,0,1,0,1,0,0,0
10,doc11,0,0,1,0,1,0,0,0,1,0
11,doc12,1,0,0,0,0,1,1,0,0,0
12,doc13,0,0,1,1,1,0,0,1,0,0
13,doc14,0,1,1,1,0,0,0,0,1,0
14,doc15,0,0,0,1,0,1,1,1,0,0
15,doc16,1,0,0,0,0,1,0,0,1,0
16,doc17,0,1,1,1,0,0,0,1,0,0
17,doc18,0,0,0,1,0,0,0,0,1,0
18,doc19,0,1,1,0,1,0,1,0,0,1
19,doc20,0,0,1,1,0,0,1,0,1,0

In [67]:
df2= pd.DataFrame(pd.read_excel(df_path, sheet_name= "Sheet2"))
df2.fillna(0, inplace=True)
df2

    User 1  User 2
0      1.0    -1.0
1     -1.0     1.0
2      0.0     0.0
3      0.0     1.0
4      0.0     0.0
5      1.0     0.0
6      0.0     0.0
7      0.0     0.0
8      0.0     0.0
9      0.0     0.0
10     0.0     0.0
11     0.0    -1.0
12     0.0     0.0
13     0.0     0.0
14     0.0     0.0
15     1.0     0.0
16     0.0     1.0
17     0.0     0.0
18    -1.0     0.0
19     0.0     0.0

In [60]:
df2.columns

Index(['User 1', 'User 2'], dtype='object')

In [18]:
#this will help with later calculations and column names won't have to be repeated
cols = ['baseball', 'economics', 'politics', 'Europe', 'Asia', 'soccer',
       'war', 'security', 'shopping', 'family']

In [ ]:
#PART1

In [80]:
df_u1= df[cols].multiply(df2["User 1"], axis="index")
user1= pd.DataFrame(df_u1.sum(numeric_only=True, axis=0), columns=['U1']).T
user1

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
U1,3.0,-2.0,-1.0,0.0,0.0,2.0,-1.0,-1.0,1.0,0.0

In [81]:
df_u2= df[cols].multiply(df2["User 2"], axis="index")
user2= pd.DataFrame(df_u2.sum(numeric_only=True, axis=0), columns=['U2']).T
user2

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
U2,-2.0,2.0,2.0,3.0,-1.0,-2.0,0.0,3.0,0.0,-1.0

In [93]:
pred1= np.multiply(df[cols], user1)
pred1['total_pred']= pred1.sum(axis=1)
pred1['docs'] = df1['docs'].values
first_column = pred1.pop('docs')
pred1.insert(0, 'docs', first_column)
pred1= pred1.sort_values(by='total_pred', ascending=False)
pred1

,docs,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,total_pred
15,doc16,3.0,-0.0,-0.0,0.0,0.0,2.0,-0.0,-0.0,1.0,0.0,6.0
0,doc1,3.0,-0.0,-1.0,0.0,0.0,2.0,-0.0,-0.0,0.0,0.0,4.0
11,doc12,3.0,-0.0,-0.0,0.0,0.0,2.0,-1.0,-0.0,0.0,0.0,4.0
8,doc9,0.0,-0.0,-0.0,0.0,0.0,2.0,-0.0,-0.0,1.0,0.0,3.0
5,doc6,3.0,-0.0,-0.0,0.0,0.0,0.0,-0.0,-0.0,0.0,0.0,3.0
2,doc3,0.0,-0.0,-0.0,0.0,0.0,2.0,-0.0,-0.0,0.0,0.0,2.0
17,doc18,0.0,-0.0,-0.0,0.0,0.0,0.0,-0.0,-0.0,1.0,0.0,1.0
14,doc15,0.0,-0.0,-0.0,0.0,0.0,2.0,-1.0,-1.0,0.0,0.0,0.0
10,doc11,0.0,-0.0,-1.0,0.0,0.0,0.0,-0.0,-0.0,1.0,0.0,0.0
6,doc7,0.0,-0.0,-0.0,0.0,0.0,0.0,-0.0,-1.0,0.0,0.0,-1.0
4,doc5,0.0,-2.0,-0.0,0.0,0.0,0.0,-0.0,-0.0,1.0,0.0,-1.0
19,doc20,0.0,-0.0,-1.0,0.0,0.0,0.0,-1.0,-0.0,1.0,0.0,-1.0
7,doc8,0.0,-0.0,-1.0,0.0,0.0,0.0,-1.0,-0.0,0.0,0.0,-2.0
12,doc13,0.0,-0.0,-1.0,0.0,0.0,0.0,-0.0,-1.0,0.0,0.0,-2.0
13,doc14,0.0,-2.0,-1.0,0.0,0.0,0.0,-0.0,-0.0,1.0,0.0,-2.0
9,doc10,0.0,-2.0,-0.0,0.0,0.0,0.0,-1.0,-0.0,0.0,0.0,-3.0
3,doc4,0.0,-0.0,-1.0,0.0,0.0,0.0,-1.0,-1.0,0.0,0.0,-3.0
1,doc2,0.0,-2.0,-1.0,0.0,0.0,0.0,-0.0,-1.0,0.0,0.0,-4.0
16,doc17,0.0,-2.0,-1.0,0.0,0.0,0.0,-0.0,-1.0,0.0,0.0,-4.0
18,doc19,0.0,-2.0,-1.0,0.0,0.0,0.0,-1.0,-0.0,0.0,0.0,-4.0

In [94]:
pred2= np.multiply(df[cols], user2)
pred2['total_pred']= pred2.sum(axis=1)
pred2['docs'] = df1['docs'].values
first_column = pred2.pop('docs')
pred2.insert(0, 'docs', first_column)
pred2= pred2.sort_values(by='total_pred', ascending=False)
pred2

,docs,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,total_pred
16,doc17,-0.0,2.0,2.0,3.0,-0.0,-0.0,0.0,3.0,0.0,-0.0,10.0
1,doc2,-0.0,2.0,2.0,3.0,-0.0,-0.0,0.0,3.0,0.0,-0.0,10.0
3,doc4,-0.0,0.0,2.0,3.0,-0.0,-0.0,0.0,3.0,0.0,-0.0,8.0
12,doc13,-0.0,0.0,2.0,3.0,-1.0,-0.0,0.0,3.0,0.0,-0.0,7.0
13,doc14,-0.0,2.0,2.0,3.0,-0.0,-0.0,0.0,0.0,0.0,-0.0,7.0
19,doc20,-0.0,0.0,2.0,3.0,-0.0,-0.0,0.0,0.0,0.0,-0.0,5.0
7,doc8,-0.0,0.0,2.0,3.0,-0.0,-0.0,0.0,0.0,0.0,-1.0,4.0
14,doc15,-0.0,0.0,0.0,3.0,-0.0,-2.0,0.0,3.0,0.0,-0.0,4.0
17,doc18,-0.0,0.0,0.0,3.0,-0.0,-0.0,0.0,0.0,0.0,-0.0,3.0
18,doc19,-0.0,2.0,2.0,0.0,-1.0,-0.0,0.0,0.0,0.0,-1.0,2.0
6,doc7,-0.0,0.0,0.0,0.0,-0.0,-0.0,0.0,3.0,0.0,-1.0,2.0
10,doc11,-0.0,0.0,2.0,0.0,-1.0,-0.0,0.0,0.0,0.0,-0.0,1.0
9,doc10,-0.0,2.0,0.0,0.0,-1.0,-0.0,0.0,0.0,0.0,-0.0,1.0
5,doc6,-2.0,0.0,0.0,3.0,-0.0,-0.0,0.0,0.0,0.0,-0.0,1.0
4,doc5,-0.0,2.0,0.0,0.0,-0.0,-0.0,0.0,0.0,0.0,-1.0,1.0
2,doc3,-0.0,0.0,0.0,3.0,-1.0,-2.0,0.0,0.0,0.0,-0.0,0.0
8,doc9,-0.0,0.0,0.0,0.0,-0.0,-2.0,0.0,0.0,0.0,-0.0,-2.0
11,doc12,-2.0,0.0,0.0,0.0,-0.0,-2.0,0.0,0.0,0.0,-0.0,-4.0
15,doc16,-2.0,0.0,0.0,0.0,-0.0,-2.0,0.0,0.0,0.0,-0.0,-4.0
0,doc1,-2.0,0.0,2.0,0.0,-1.0,-2.0,0.0,0.0,0.0,-1.0,-4.0

In [ ]:
#PART 2

In [98]:
df1['count_attributes']=df[cols].sum(axis=1)
df1['sqrt_attr']= np.sqrt(df1['count_attributes'])
df1

,docs,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,count_attributes,sqrt_attr
0,doc1,1,0,1,0,1,1,0,0,0,1,5,2.236068
1,doc2,0,1,1,1,0,0,0,1,0,0,4,2.000000
2,doc3,0,0,0,1,1,1,0,0,0,0,3,1.732051
3,doc4,0,0,1,1,0,0,1,1,0,0,4,2.000000
4,doc5,0,1,0,0,0,0,0,0,1,1,3,1.732051
5,doc6,1,0,0,1,0,0,0,0,0,0,2,1.414214
6,doc7,0,0,0,0,0,0,0,1,0,1,2,1.414214
7,doc8,0,0,1,1,0,0,1,0,0,1,4,2.000000
8,doc9,0,0,0,0,0,1,0,0,1,0,2,1.414214
9,doc10,0,1,0,0,1,0,1,0,0,0,3,1.732051
10,doc11,0,0,1,0,1,0,0,0,1,0,3,1.732051
11,doc12,1,0,0,0,0,1,1,0,0,0,3,1.732051
12,doc13,0,0,1,1,1,0,0,1,0,0,4,2.000000
13,doc14,0,1,1,1,0,0,0,0,1,0,4,2.000000
14,doc15,0,0,0,1,0,1,1,1,0,0,4,2.000000
15,doc16,1,0,0,0,0,1,0,0,1,0,3,1.732051
16,doc17,0,1,1,1,0,0,0,1,0,0,4,2.000000
17,doc18,0,0,0,1,0,0,0,0,1,0,2,1.414214
18,doc19,0,1,1,0,1,0,1,0,0,1,5,2.236068
19,doc20,0,0,1,1,0,0,1,0,1,0,4,2.000000

In [102]:
new_df1= df1[cols].multiply(1/df1["sqrt_attr"], axis="index")
new_df1

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
0,0.447214,0.000000,0.447214,0.000000,0.447214,0.447214,0.000000,0.000000,0.000000,0.447214
1,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.577350,0.577350,0.577350,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000
4,0.000000,0.577350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.577350,0.577350
5,0.707107,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.707107
7,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.500000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.707107,0.000000
9,0.000000,0.577350,0.000000,0.000000,0.577350,0.000000,0.577350,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.577350,0.000000,0.577350,0.000000,0.000000,0.000000,0.577350,0.000000
11,0.577350,0.000000,0.000000,0.000000,0.000000,0.577350,0.577350,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000
13,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000
14,0.000000,0.000000,0.000000,0.500000,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000
15,0.577350,0.000000,0.000000,0.000000,0.000000,0.577350,0.000000,0.000000,0.577350,0.000000
16,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000
18,0.000000,0.447214,0.447214,0.000000,0.447214,0.000000,0.447214,0.000000,0.000000,0.447214
19,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.500000,0.000000

In [103]:
df_u1_2= new_df1[cols].multiply(df2["User 1"], axis="index")
user1_2= pd.DataFrame(df_u1_2.sum(numeric_only=True, axis=0), columns=['U1_2']).T
user1_2

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
U1_2,1.731671,-0.947214,-0.5,0.207107,0.0,1.024564,-0.447214,-0.5,0.57735,0.0

In [104]:
df_u2_2= new_df1[cols].multiply(df2["User 2"], axis="index")
user2_2= pd.DataFrame(df_u2_2.sum(numeric_only=True, axis=0), columns=['U2_2']).T
user2_2

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
U2_2,-1.024564,1.0,1.052786,1.5,-0.447214,-1.024564,-0.07735,1.5,0.0,-0.447214

In [111]:
new_pred1= np.multiply(new_df1[cols], user1_2)
new_pred1['total_pred_new']= new_pred1.sum(axis=1)
new_pred1['docs'] = df1['docs'].values
first_column = new_pred1.pop('docs')
new_pred1.insert(0, 'docs', first_column)
new_pred1= new_pred1.sort_values(by='total_pred_new', ascending=False)
new_pred1

,docs,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,total_pred_new
15,doc16,0.999781,-0.000000,-0.000000,0.000000,0.0,0.591532,-0.000000,-0.000000,0.333333,0.0,1.924646
5,doc6,1.224476,-0.000000,-0.000000,0.146447,0.0,0.000000,-0.000000,-0.000000,0.000000,0.0,1.370923
11,doc12,0.999781,-0.000000,-0.000000,0.000000,0.0,0.591532,-0.258199,-0.000000,0.000000,0.0,1.333114
8,doc9,0.000000,-0.000000,-0.000000,0.000000,0.0,0.724476,-0.000000,-0.000000,0.408248,0.0,1.132724
0,doc1,0.774427,-0.000000,-0.223607,0.000000,0.0,0.458199,-0.000000,-0.000000,0.000000,0.0,1.009019
2,doc3,0.000000,-0.000000,-0.000000,0.119573,0.0,0.591532,-0.000000,-0.000000,0.000000,0.0,0.711105
17,doc18,0.000000,-0.000000,-0.000000,0.146447,0.0,0.000000,-0.000000,-0.000000,0.408248,0.0,0.554695
14,doc15,0.000000,-0.000000,-0.000000,0.103553,0.0,0.512282,-0.223607,-0.250000,0.000000,0.0,0.142229
10,doc11,0.000000,-0.000000,-0.288675,0.000000,0.0,0.000000,-0.000000,-0.000000,0.333333,0.0,0.044658
19,doc20,0.000000,-0.000000,-0.250000,0.103553,0.0,0.000000,-0.223607,-0.000000,0.288675,0.0,-0.081378
4,doc5,0.000000,-0.546874,-0.000000,0.000000,0.0,0.000000,-0.000000,-0.000000,0.333333,0.0,-0.213541
13,doc14,0.000000,-0.473607,-0.250000,0.103553,0.0,0.000000,-0.000000,-0.000000,0.288675,0.0,-0.331378
6,doc7,0.000000,-0.000000,-0.000000,0.000000,0.0,0.000000,-0.000000,-0.353553,0.000000,0.0,-0.353553
7,doc8,0.000000,-0.000000,-0.250000,0.103553,0.0,0.000000,-0.223607,-0.000000,0.000000,0.0,-0.370053
12,doc13,0.000000,-0.000000,-0.250000,0.103553,0.0,0.000000,-0.000000,-0.250000,0.000000,0.0,-0.396447
3,doc4,0.000000,-0.000000,-0.250000,0.103553,0.0,0.000000,-0.223607,-0.250000,0.000000,0.0,-0.620053
9,doc10,0.000000,-0.546874,-0.000000,0.000000,0.0,0.000000,-0.258199,-0.000000,0.000000,0.0,-0.805073
18,doc19,0.000000,-0.423607,-0.223607,0.000000,0.0,0.000000,-0.200000,-0.000000,0.000000,0.0,-0.847214
1,doc2,0.000000,-0.473607,-0.250000,0.103553,0.0,0.000000,-0.000000,-0.250000,0.000000,0.0,-0.870053
16,doc17,0.000000,-0.473607,-0.250000,0.103553,0.0,0.000000,-0.000000,-0.250000,0.000000,0.0,-0.870053

In [124]:
new_pred2= np.multiply(new_df1[cols], user2_2)
new_pred2['total_pred_new']= new_pred2.sum(axis=1)
new_pred2['docs'] = df1['docs'].values
first_column = new_pred2.pop('docs')
new_pred2.insert(0, 'docs', first_column)
new_pred2= new_pred2.sort_values(by='total_pred_new', ascending=False)
new_pred2

,docs,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,total_pred_new
15,doc16,0.999781,-0.000000,-0.000000,0.000000,0.0,0.591532,-0.000000,-0.000000,0.333333,0.0,1.924646
5,doc6,1.224476,-0.000000,-0.000000,0.146447,0.0,0.000000,-0.000000,-0.000000,0.000000,0.0,1.370923
11,doc12,0.999781,-0.000000,-0.000000,0.000000,0.0,0.591532,-0.258199,-0.000000,0.000000,0.0,1.333114
8,doc9,0.000000,-0.000000,-0.000000,0.000000,0.0,0.724476,-0.000000,-0.000000,0.408248,0.0,1.132724
0,doc1,0.774427,-0.000000,-0.223607,0.000000,0.0,0.458199,-0.000000,-0.000000,0.000000,0.0,1.009019
2,doc3,0.000000,-0.000000,-0.000000,0.119573,0.0,0.591532,-0.000000,-0.000000,0.000000,0.0,0.711105
17,doc18,0.000000,-0.000000,-0.000000,0.146447,0.0,0.000000,-0.000000,-0.000000,0.408248,0.0,0.554695
14,doc15,0.000000,-0.000000,-0.000000,0.103553,0.0,0.512282,-0.223607,-0.250000,0.000000,0.0,0.142229
10,doc11,0.000000,-0.000000,-0.288675,0.000000,0.0,0.000000,-0.000000,-0.000000,0.333333,0.0,0.044658
19,doc20,0.000000,-0.000000,-0.250000,0.103553,0.0,0.000000,-0.223607,-0.000000,0.288675,0.0,-0.081378
4,doc5,0.000000,-0.546874,-0.000000,0.000000,0.0,0.000000,-0.000000,-0.000000,0.333333,0.0,-0.213541
13,doc14,0.000000,-0.473607,-0.250000,0.103553,0.0,0.000000,-0.000000,-0.000000,0.288675,0.0,-0.331378
6,doc7,0.000000,-0.000000,-0.000000,0.000000,0.0,0.000000,-0.000000,-0.353553,0.000000,0.0,-0.353553
7,doc8,0.000000,-0.000000,-0.250000,0.103553,0.0,0.000000,-0.223607,-0.000000,0.000000,0.0,-0.370053
12,doc13,0.000000,-0.000000,-0.250000,0.103553,0.0,0.000000,-0.000000,-0.250000,0.000000,0.0,-0.396447
3,doc4,0.000000,-0.000000,-0.250000,0.103553,0.0,0.000000,-0.223607,-0.250000,0.000000,0.0,-0.620053
9,doc10,0.000000,-0.546874,-0.000000,0.000000,0.0,0.000000,-0.258199,-0.000000,0.000000,0.0,-0.805073
18,doc19,0.000000,-0.423607,-0.223607,0.000000,0.0,0.000000,-0.200000,-0.000000,0.000000,0.0,-0.847214
1,doc2,0.000000,-0.473607,-0.250000,0.103553,0.0,0.000000,-0.000000,-0.250000,0.000000,0.0,-0.870053
16,doc17,0.000000,-0.473607,-0.250000,0.103553,0.0,0.000000,-0.000000,-0.250000,0.000000,0.0,-0.870053

In [ ]:
#PART 3

In [123]:
df_df= pd.DataFrame(df1.sum(numeric_only=True, axis=0), columns=['DF']).T
df_df.drop(['count_attributes', 'sqrt_attr'], axis=1, inplace=True)
df_df= df_df.pow(-1)
df_df

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
DF,0.25,0.166667,0.1,0.090909,0.166667,0.166667,0.142857,0.166667,0.142857,0.2

In [134]:
new_pred1_2=np.multiply(np.multiply(new_df1[cols], user1_2), df_df)
new_pred1_2['total_pred_new']= new_pred1_2.sum(axis=1)
new_pred1_2['docs'] = df1['docs'].values
first_column = new_pred1_2.pop('docs')
new_pred1_2.insert(0, 'docs', first_column)
new_pred1_2= new_pred1_2.sort_values(by='total_pred_new', ascending=False)
new_pred1_2

,docs,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,total_pred_new
15,doc16,0.249945,-0.000000,-0.000000,0.000000,0.0,0.098589,-0.000000,-0.000000,0.047619,0.0,0.396153
5,doc6,0.306119,-0.000000,-0.000000,0.013313,0.0,0.000000,-0.000000,-0.000000,0.000000,0.0,0.319432
11,doc12,0.249945,-0.000000,-0.000000,0.000000,0.0,0.098589,-0.036886,-0.000000,0.000000,0.0,0.311648
0,doc1,0.193607,-0.000000,-0.022361,0.000000,0.0,0.076366,-0.000000,-0.000000,0.000000,0.0,0.247612
8,doc9,0.000000,-0.000000,-0.000000,0.000000,0.0,0.120746,-0.000000,-0.000000,0.058321,0.0,0.179067
2,doc3,0.000000,-0.000000,-0.000000,0.010870,0.0,0.098589,-0.000000,-0.000000,0.000000,0.0,0.109459
17,doc18,0.000000,-0.000000,-0.000000,0.013313,0.0,0.000000,-0.000000,-0.000000,0.058321,0.0,0.071635
14,doc15,0.000000,-0.000000,-0.000000,0.009414,0.0,0.085380,-0.031944,-0.041667,0.000000,0.0,0.021184
10,doc11,0.000000,-0.000000,-0.028868,0.000000,0.0,0.000000,-0.000000,-0.000000,0.047619,0.0,0.018752
19,doc20,0.000000,-0.000000,-0.025000,0.009414,0.0,0.000000,-0.031944,-0.000000,0.041239,0.0,-0.006291
4,doc5,0.000000,-0.091146,-0.000000,0.000000,0.0,0.000000,-0.000000,-0.000000,0.047619,0.0,-0.043527
7,doc8,0.000000,-0.000000,-0.025000,0.009414,0.0,0.000000,-0.031944,-0.000000,0.000000,0.0,-0.047530
13,doc14,0.000000,-0.078934,-0.025000,0.009414,0.0,0.000000,-0.000000,-0.000000,0.041239,0.0,-0.053281
12,doc13,0.000000,-0.000000,-0.025000,0.009414,0.0,0.000000,-0.000000,-0.041667,0.000000,0.0,-0.057253
6,doc7,0.000000,-0.000000,-0.000000,0.000000,0.0,0.000000,-0.000000,-0.058926,0.000000,0.0,-0.058926
3,doc4,0.000000,-0.000000,-0.025000,0.009414,0.0,0.000000,-0.031944,-0.041667,0.000000,0.0,-0.089197
18,doc19,0.000000,-0.070601,-0.022361,0.000000,0.0,0.000000,-0.028571,-0.000000,0.000000,0.0,-0.121533
9,doc10,0.000000,-0.091146,-0.000000,0.000000,0.0,0.000000,-0.036886,-0.000000,0.000000,0.0,-0.128031
1,doc2,0.000000,-0.078934,-0.025000,0.009414,0.0,0.000000,-0.000000,-0.041667,0.000000,0.0,-0.136187
16,doc17,0.000000,-0.078934,-0.025000,0.009414,0.0,0.000000,-0.000000,-0.041667,0.000000,0.0,-0.136187

In [135]:
new_pred2_2=np.multiply(np.multiply(new_df1[cols], user2_2), df_df)
new_pred2_2['total_pred_new']= new_pred2_2.sum(axis=1)
new_pred2_2['docs'] = df1['docs'].values
first_column = new_pred2_2.pop('docs')
new_pred2_2.insert(0, 'docs', first_column)
new_pred2_2= new_pred2_2.sort_values(by='total_pred_new', ascending=False)
new_pred2_2

,docs,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,total_pred_new
16,doc17,-0.000000,0.083333,0.052639,0.068182,-0.000000,-0.000000,-0.000000,0.125000,0.0,-0.000000,0.329154
1,doc2,-0.000000,0.083333,0.052639,0.068182,-0.000000,-0.000000,-0.000000,0.125000,0.0,-0.000000,0.329154
3,doc4,-0.000000,0.000000,0.052639,0.068182,-0.000000,-0.000000,-0.005525,0.125000,0.0,-0.000000,0.240296
12,doc13,-0.000000,0.000000,0.052639,0.068182,-0.037268,-0.000000,-0.000000,0.125000,0.0,-0.000000,0.208553
13,doc14,-0.000000,0.083333,0.052639,0.068182,-0.000000,-0.000000,-0.000000,0.000000,0.0,-0.000000,0.204154
19,doc20,-0.000000,0.000000,0.052639,0.068182,-0.000000,-0.000000,-0.005525,0.000000,0.0,-0.000000,0.115296
6,doc7,-0.000000,0.000000,0.000000,0.000000,-0.000000,-0.000000,-0.000000,0.176777,0.0,-0.063246,0.113531
14,doc15,-0.000000,0.000000,0.000000,0.068182,-0.000000,-0.085380,-0.005525,0.125000,0.0,-0.000000,0.102276
17,doc18,-0.000000,0.000000,0.000000,0.096424,-0.000000,-0.000000,-0.000000,0.000000,0.0,-0.000000,0.096424
7,doc8,-0.000000,0.000000,0.052639,0.068182,-0.000000,-0.000000,-0.005525,0.000000,0.0,-0.044721,0.070575
9,doc10,-0.000000,0.096225,0.000000,0.000000,-0.043033,-0.000000,-0.006380,0.000000,0.0,-0.000000,0.046812
4,doc5,-0.000000,0.096225,0.000000,0.000000,-0.000000,-0.000000,-0.000000,0.000000,0.0,-0.051640,0.044585
18,doc19,-0.000000,0.074536,0.047082,0.000000,-0.033333,-0.000000,-0.004942,0.000000,0.0,-0.040000,0.043343
10,doc11,-0.000000,0.000000,0.060783,0.000000,-0.043033,-0.000000,-0.000000,0.000000,0.0,-0.000000,0.017750
2,doc3,-0.000000,0.000000,0.000000,0.078730,-0.043033,-0.098589,-0.000000,0.000000,0.0,-0.000000,-0.062892
5,doc6,-0.181119,0.000000,0.000000,0.096424,-0.000000,-0.000000,-0.000000,0.000000,0.0,-0.000000,-0.084695
8,doc9,-0.000000,0.000000,0.000000,0.000000,-0.000000,-0.120746,-0.000000,0.000000,0.0,-0.000000,-0.120746
0,doc1,-0.114550,0.000000,0.047082,0.000000,-0.033333,-0.076366,-0.000000,0.000000,0.0,-0.040000,-0.217167
15,doc16,-0.147883,0.000000,0.000000,0.000000,-0.000000,-0.098589,-0.000000,0.000000,0.0,-0.000000,-0.246472
11,doc12,-0.147883,0.000000,0.000000,0.000000,-0.000000,-0.098589,-0.006380,0.000000,0.0,-0.000000,-0.252852